/* Button */

.button {
	&_nav {
		display: block;
		margin: 0;
		padding: 0;
		border: none;
		background-color: transparent;
		justify-self: end;
		grid-column-start: 4;
		grid-column-end: -1;
		justify-self: center;
		align-self: center;
	}
}

@media (min-width: 768px) {
	.button {
		&_nav {
			display: none;
		}
	}
}