/* Container */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 50px;
	&_main {
		width: 90%;
		margin: 0 auto;
	}
	&_title {
		padding-top:30px;
		text-align: center;
		margin-bottom: 0;
	}
	&_search {
		position: relative;
	}
}

@media (min-width: $desktop-width) {
	.container {
		&_main {
			width: 80%;
			display: grid;
			grid-template-rows: 328px auto;
			//grid-template-columns: 781px 407px;
			grid-template-columns: 781px 407px;
		}
		&_alpha {
			align-items: flex-start;
		}
		&_title {
			padding-top: 0;
			text-align: center;
		}
	}
}