.form {
	font-family: 'RobotoCondensed', sans-serif;
	@include font(var(--14px-size), 150%, var(--title), 0.03em, 400);
	&__label {
		
	}
	&__input {
		border: 1px var(--border-button) solid;
		border-radius: 20px;
		padding: 14px 65px 14px 23px;
	}
	&__submit {
		position: absolute;
		top: 0;
		right: 0;
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--14px-size), 21px, var(--title), 0.03em, 700);
		background-color: var(--basic-white);
		border: 1px var(--border-button) solid;
		border-radius: 20px;
		padding: 11px 10px;
	}
	&__block {
		position: relative;
	}
}

@media (min-width: 768px) {
	.form {
		&__search {
			width: 320px;
		}
	}
}