.header {
	width: 87%;
	&__nav {
		display: none;
	}
	&__menu {
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--14px-size), 16px, var(--title), 0.03em, 400);
		text-transform: uppercase;
		border-top: var(--title) 1px solid;
		border-bottom: var(--title) 1px solid;
		text-align: center;
		padding: 10px 0 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon {
		width: 15px;
		height: 15px;
		transform-origin: center;
  		transform: rotate(-90deg);
  		transition-property: transform;
  		transition-duration: 1s;
	}
}

@media (min-width: $tablet-width) {
	.header {
		&__nav {
			display: block;
			border-bottom: 1px var(--border-button) solid;
		}
		&__menu {
			display: none;
		}
	}
}

@media (min-width: $desktop-width) {
	.header {
		width: 100%;
		margin-bottom: 50px;
		grid-column-start: 1;
		grid-column-end: 3;
	}
}