/* Icon */

.icon {
	&_nav {
		stroke: var(--basic-black);
	}
}

.icon_nav-menu,
.button_nav--open .icon_nav-cross {
	display: block;
}

.icon_nav-cross,
.button_nav--open .icon_nav-menu {
	display: none;
}