.ingri {
	font-family: 'Inter Regular', sans-serif;
	@include font(var(--14px-size), 150%, var(--title), 0.05em, 400);
	margin-bottom: 50px;
	&__list {
		list-style-type: none;
	}
	&__item {
		margin-bottom: 20px;
	}
	&__persons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 220px;
		margin-bottom: 50px;
	}
	&__elem {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px dotted var(--title);
		&_left {
			max-width: 70%;
		}
	}
}