.list {
	list-style-type: none;
	&_main {
		gap: 2%;
	}
	&__item {
		padding-bottom: 15px;
		padding-top: 15px;
		&_menu {
			display: flex;
		}
	}
	&__icon {
		width: 25px;
		height: 25px;
	}
}

@media (min-width: $tablet-width) {
	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		&_nav {
			justify-content: space-between;
			width: 50%;
			margin: 0 auto;
		}
		&_main {
			border-top: 1px solid var(--border-button);
			border-bottom: 1px solid var(--border-button);
		}
		&_menu {
			flex-direction: column;
			border-top: 1px solid var(--border-button);
			border-bottom: 1px solid var(--border-button);
		}
		&__item_nav {
			border: none;
			text-align: center;
		}
		&__icon {
			width: 20px;
			height: 20px;
		}
	}
}

@media (min-width: $desktop-width) {
}