/* Navigation */

.nav {
	&_header {
		display: none;
	}
	&_header--open {
		display: block;
		background-color: var(--basic-white);
	}
}

@media (min-width: $tablet-width) {
	.nav {
		&_header {
			display: block;
		}
	}
}