.recipe {
	&__date {
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--12px-size), 150%, var(--title), 0.05em, 400);
	}
	&__text {
		font-family: Inter, sans-serif;
		@include font(var(--16px-size), 150%, var(--text-color), 0.05em, 300);
		margin-bottom: 70px;
	}
	&__more {
		display: block;
		width: 230px;
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--14px-size), 150%, var(--title), 0.03em, 700);
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 15px;
		border: 1px var(--border-button) solid;
		border-radius: 30px;
		text-align: center;
		margin-bottom: 60px;
	}
	&__meta {
		margin-bottom: 10px;
		width: 100%;
	}
	&__dot {
		width: 5px;
		height: 5px;
	}
	&__likes {
		width: 90px;
		height: 22px;
		display: flex;
		justify-content: space-between;
	}
	&__share {
		margin-bottom: 35px;
		width: 100%;
	}
	&__img {
		margin-bottom: 15px;
	}
	&__like {
		width: 38px;
		height: 21px;
		display: flex;
		margin-right: 4px;
	}
	&__comment {
		width: 33px;
		height: 21px;
		display: flex;
	}
	&__like-count {
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--12px-size), 150%, var(--title), 0.05em, 600);
		display: block;
	}
	&__comment-count {
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--12px-size), 150%, var(--title), 0.05em, 600);
		display: block;
		flex-direction: row;
	}
	&__pagination {
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		margin-top: 50px;
	}
	&__pagination-elem {
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--18px-size), 16px, var(--title), 0.03em, 400);
		&_active {
			border: 1px var(--border-button) solid;
			border-radius: 50%;
			padding: 2% 3%;
		}
	}
	&__pagination-arrow {
		display: inline-block;
		width: 30px;
		height: 16px;
	}
}