.title {
	&_h1 {
		font-family: Oswald, sans-serif;
		@include font(var(--28px-size), 41px, var(--title), -0.1em, 400);
		text-transform: uppercase;
		padding: 32px auto;
	}
	&_promo {
		font-family: 'CMU Sans Serif Demi Condensed', sans-serif;
		@include font(var(--18px-size), 24px, var(--title), 0.1em, 600);
	}
	&_h2 {
		font-family: 'RobotoCondensed', sans-serif;
		@include font(var(--18px-size), 24px, var(--title), 0.1em, 600);
		margin: 0;
		margin-bottom: 20px;
	}
	&_search {
		font-family: 'Inter', sans-serif;
		@include font(var(--16px-size), 150%, var(--title), 0.05em, 500);
		margin-bottom: 22px;
	}
	&_h3 {
		font-family: 'Inter SemiBold', sans-serif;
		@include font(var(--18px-size), 150%, var(--title), 0.05em, 600);
		margin-bottom: 40px;
	}
	&_new {
		font-family: 'Inter Regular', sans-serif;
		@include font(var(--14px-size), 150%, var(--title), 0.05em, 600);
	}
}

@media (min-width: $tablet-width) {
	.title {
		&_cat {
			display: none;
		}
		&_h1 {
			@include font(var(--62px-size), 92px, var(--title), -0.05em, 400);
		}
		&_promo {
			@include font(var(--34px-size), 45px, var(--title), 0.1em, 400);
		}
		&_h2 {
			font-family: 'RobotoCondensed', sans-serif;
			@include font(var(--26px-size), 150%, var(--title), 0.05em, 600);
			text-align: center;
		}
		&_h3 {
			@include font(var(--24px-size), 150%, var(--title), 0.05em, 600);
			margin-bottom: 20px;
			order: 1;
		}
	}
}